.background {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  opacity: 0.5;
}

.background span {
  width: 300vmin;
  height: 300vmin;
  border-radius: 300vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #e45a84;
  top: 5%;
  left: 10%;
  animation-duration: 17.3s;
  transform-origin: -11vw -3vh;
  box-shadow: -300vmin 0 75.659844889vmin currentColor;
}
.background span:nth-child(2) {
  color: #583c87;
  top: 21%;
  left: 17%;
  animation-duration: 19s;
  transform-origin: -2vw -8vh;
  box-shadow: 300vmin 0 44.6763933058vmin currentColor;
}
.background span:nth-child(3) {
  color: #ffacac;
  top: 24%;
  left: 52%;
  animation-duration: 19.8s;
  transform-origin: -6vw -6vh;
  box-shadow: -300vmin 0 56.4791349896vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffacac;
  top: 22%;
  left: 13%;
  animation-duration: 19.8s;
  transform-origin: -10vw -19vh;
  box-shadow: -300vmin 0 83.2113281167vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffacac;
  top: 24%;
  left: 31%;
  animation-duration: 20s;
  transform-origin: 10vw 12vh;
  box-shadow: -300vmin 0 44.6051172817vmin currentColor;
}
.background span:nth-child(6) {
  color: #583c87;
  top: 27%;
  left: 49%;
  animation-duration: 17.6s;
  transform-origin: 10vw 20vh;
  box-shadow: -300vmin 0 91.2069419335vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffacac;
  top: 22%;
  left: 8%;
  animation-duration: 16.8s;
  transform-origin: -8vw 3vh;
  box-shadow: 300vmin 0 47.0663617143vmin currentColor;
}
.background span:nth-child(8) {
  color: #ffacac;
  top: 26%;
  left: 34%;
  animation-duration: 16.3s;
  transform-origin: -11vw 17vh;
  box-shadow: 300vmin 0 68.7943907019vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffacac;
  top: 15%;
  left: 11%;
  animation-duration: 20.3s;
  transform-origin: 12vw 19vh;
  box-shadow: -300vmin 0 102.7259256274vmin currentColor;
}
.background span:nth-child(10) {
  color: #583c87;
  top: 33%;
  left: 11%;
  animation-duration: 19.6s;
  transform-origin: 18vw -14vh;
  box-shadow: 300vmin 0 44.3633727264vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
