@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap|https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap|https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap'");
/* xl Normal desktop :1200px. */
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* Large Mobile :480px. */
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap|https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap|https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swaps'");
.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start; }

/* 1. Theme default css */
/* xl Normal desktop :1200px. */
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* Large Mobile :480px. */
body {
  font-family: "Pathway Extreme", sans-serif;
  font-weight: normal;
  font-style: normal; }

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none; }

a:focus {
  text-decoration: none; }

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none; }

a,
button {
  color: #fff;
  outline: medium none; 
}

h1 {
  font-family: "Pathway Extreme", sans-serif;
  color: #9ae8d9; }
 
h2, h3, h4, h5 {
  font-family: "Cabin", sans-serif;
  color: #fff; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h6 {font-size: .95em; font-weight: 100; color: #707b8e;}  

h3.accent_text {
    font-family: "Pathway Extreme", sans-serif;
    font-weight: 400;
    line-height: 90px;
    color: #9d79ce; }  

a {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-family: "Kode Mono", monospace;
  color: #fff; }
  a:hover {
      color: #9ae8d9; }

input::placeholder {
  font-family: "Cabin", sans-serif; }

textarea::placeholder {
  font-family: "Cabin", sans-serif; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #707b8e;
  margin-bottom: 0px;
  font-family: "Cabin", sans-serif; }

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400; }

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #444;
  color: #fff;
  text-shadow: none; }

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1; }

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1; }

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1; }

/* ======= For Images Imago Effect style ======= */
.imago {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}
.imago.animated {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.transform-banner img {
  -webkit-animation: border-transform 10s linear infinite alternate forwards;
  animation: border-transform 10s linear infinite alternate forwards;
  border-radius: 100%;
}

/* ======= Homepage Image Animation style ======= */
.ripple-animation,
.morp-ani {
    --morp-value: 66% 24% 44% 56% / 44% 24% 70% 56%;
    --morp-md-value: 43% 38% 39% 35% / 44% 39% 43% 56%;
    --morp-time: 8s;
    --morp-spin-time: 20s;
    animation: morpspin var(--morp-spin-time) linear infinite reverse
}
.morp-ani:before {
    -webkit-animation: vsmorph var(--morp-time) ease-in-out infinite both alternate;
    animation: vsmorph var(--morp-time) ease-in-out infinite both alternate
}
.transform-banner img {
    -webkit-animation: border-transform 10s linear infinite alternate forwards;
    animation: border-transform 10s linear infinite alternate forwards;
    border-radius: 100%
}
@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }

    30% {
        opacity: 0.40
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0
    }
}
@keyframes ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }

    30% {
        opacity: 0.40
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0
    }
}
@-webkit-keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
    }

    100% {
        border-radius: 40% 60%
    }
}
@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
    }

    100% {
        border-radius: 40% 60%
    }
}
@-webkit-keyframes vsmorph {
    0% {
        border-radius: var(--morp-value)
    }

    50% {
        border-radius: var(--morp-md-value)
    }

    100% {
        border-radius: 40% 60%
    }
}
@keyframes vsmorph {
    0% {
        border-radius: var(--morp-value)
    }

    50% {
        border-radius: var(--morp-md-value)
    }

    100% {
        border-radius: 40% 60%
    }
}
@-webkit-keyframes vsheromorph {
    0% {
        border-radius: 25% 80% 57% 47% / 53% 60% 43% 52%
    }

    50% {
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
    }

    100% {
        border-radius: 40% 60%
    }
}
@keyframes vsheromorph {
    0% {
        border-radius: 25% 80% 57% 47% / 53% 60% 43% 52%
    }

    50% {
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
    }

    100% {
        border-radius: 40% 60%
    }
}
@-webkit-keyframes morpspin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
@keyframes morpspin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
@-webkit-keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%
    }

    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%
    }

    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%
    }

    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%
    }

    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%
    }

    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%
    }

    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%
    }
}
@keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%
    }

    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%
    }

    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%
    }

    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%
    }

    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%
    }

    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%
    }

    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%
    }
}
@-webkit-keyframes moving {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }

    20% {
        -webkit-transform: translate(0px, -60px);
        transform: translate(0px, -60px)
    }

    50% {
        -webkit-transform: translate(-60px, -60px);
        transform: translate(-60px, -60px)
    }

    70% {
        -webkit-transform: translate(-60px, 0px);
        transform: translate(-60px, 0px)
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }
}
@keyframes moving {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }

    20% {
        -webkit-transform: translate(0px, -60px);
        transform: translate(0px, -60px)
    }

    50% {
        -webkit-transform: translate(-60px, -60px);
        transform: translate(-60px, -60px)
    }

    70% {
        -webkit-transform: translate(-60px, 0px);
        transform: translate(-60px, 0px)
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }
}
@-webkit-keyframes arrow-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    20% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }

    40% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    60% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@keyframes arrow-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    20% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }

    40% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    60% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@-webkit-keyframes arrow-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    20% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }

    40% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    60% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@keyframes arrow-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    20% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }

    40% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    60% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}



h3 {
  font-size: 24px; }

.text-left {
  color: #ababab;
}  

div.text-left p {
  color: #ababab;
}  

strong {
  color: #fff;
  font-weight: 500;
  font-family: "Pathway Extreme", sans-serif;
}  

.mb-65 {
  margin-bottom: 67px; }

.black-bg {
  background: #020c26 !important; }

.white-bg {
  background: #ffffff; }

.gray-bg {
  background: #f5f5f5; }

.overlay {
  position: relative;
  z-index: 0; }

.overlay::before {
  position: absolute;
  content: "";
  background: #080827;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .6; }

.overlay2 {
  position: relative;
  z-index: 0; }

.overlay2::before {
  position: absolute;
  content: "";
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7; }

.overlay_03 {
  position: relative;
  z-index: 0; }

.overlay_03::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #001D38;
  opacity: .6;
  content: '';
  z-index: -1; }

.bradcam_overlay {
  position: relative;
  z-index: 0; }

.bradcam_overlay::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5db2ff+0,7db9e8+100&1+24,0+96 */
  background: -moz-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1; }

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px; }

.pt-120 {
  padding-top: 120px; }

/* button style */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px;
  color: #707070;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50px;
  font-size: 15px;
  line-height: 50px;
  border: 1px solid #4D6174;
  left: 150px;
  color: #fff; }

.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 150px; }
  .owl-carousel .owl-nav div.owl-next i {
    position: relative;
    right: 0; }

.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 0px; }

.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible; }
  .owl-carousel:hover .owl-nav div:hover {
    color: #fff;
    background: #001D38;
    border: 1px solid transparent; }

.mb-20px {
  margin-bottom: 20px; }

.mb-55 {
  margin-bottom: 55px; }

.mb-75 {
  margin-bottom: 75px; }
  @media (max-width: 767px) {
    .mb-75 {
      margin-bottom: 30px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .mb-75 {
      margin-bottom: 30px; } }

.mb-40 {
  margin-bottom: 40px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-60 {
  margin-bottom: 50px !important; }

#scrollUp {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  background: #9ae8d9;
  color: #000;
  text-align: center;
  line-height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 25px; }
  #scrollUp:hover i {
    animation: none; }
  @media (max-width: 767px) {
    #scrollUp {
      right: 20px;
      bottom: 20px; } }
  #scrollUp i {
    -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out;
    -moz-animation: bounce 3s infinite ease-in-out;
    animation: bounce 3s infinite ease-in-out; }

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-3px); }
  50% {
    transform: translateY(3px); }
  100% {
    transform: translateY(-3px); } }

@keyframes bounce {
  0% {
    transform: translateY(-3px); }
  50% {
    transform: translateY(3px); }
  100% {
    transform: translateY(-3px); } }

#zio {
  -webkit-animation: bounce 3s infinite ease-in-out;
  -o-animation: bounce 3s infinite ease-in-out;
  -ms-animation: bounce 3s infinite ease-in-out;
  -moz-animation: bounce 3s infinite ease-in-out;
  animation: bounce 3s infinite ease-in-out; }

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #50d4ce !important;
  opacity: .95 !important; }

.boxed-btn {
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 16px 40px 15px 40px;
  font-family: "Kode Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer; }
  .boxed-btn:hover {
    background: transparent;
    color: #9ae8d9;
    border: 1px solid #9ae8d9; }
  .boxed-btn:focus {
    outline: none; }

.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 50px 18px 50px;
  font-family: "Kode Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  text-align: center;
  cursor: pointer; }
  .boxed-btn2:hover {
    background: #fff;
    color: #9ae8d9;
    border: 1px solid #9ae8d9; }
  .boxed-btn2:focus {
    outline: none; }

.outline-btn {
  background: #fff;
  color: #fff;
  display: inline-block;
  padding: 18px 50px 18px 50px;
  font-family: "Kode Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #000;
  text-align: center;
  cursor: pointer; }
  .outline-btn:hover {
    background: #fff;
    color: #fff; }
  .outline-btn:focus {
    outline: none; }

.outline-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 50px 18px 50px;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer; }
  .outline-btn2:hover {
    background: transparent;
    color: #9ae8d9;
    border: 1px solid #9ae8d9; }
  .outline-btn2:focus {
    outline: none; }

.section_title.project {
  position: relative;
  z-index: 9; }
  .section_title.project:before {
    display: none; }
  .section_title.project::after {
    display: none; }

.section_title.project li {
  list-style: square;
  margin-left: 1em; }

.section_title {
  position: relative;
  z-index: 9; }
  .section_title:before {
    position: absolute;
    content: '';
    width: 1px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #bfc5cb;
    top: -50px;
    z-index: 8; }
  .section_title::after {
    position: absolute;
    content: '';
    width: 1px;
    left: 50%;
    transform: translateX(-50%);
    background: #bfc5cb;
    bottom: -50px;
    z-index: 8; }
  .section_title h3 {
    font-size: 50px;
    position: relative;
    z-index: 0;
    font-family: "Pathway Extreme", sans-serif;
    font-weight: 400;
    line-height: 65px; }
    @media (max-width: 767px) {
      .section_title h3 {
        font-size: 27px;
        line-height: 39px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .section_title h3 {
        font-size: 36px;
        line-height: 46px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .section_title h3 {
        font-size: 35px;
        line-height: 45px; } }
    @media (max-width: 767px) {
      .section_title h3 br {
        display: none; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .section_title h3 br {
        display: none; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .section_title h3 br {
        display: none; } }
  .section_title span {
    font-size: 1.25em;
    font-family: "Cabin", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2.7px;
    margin-bottom: 13px;
    display: block; }
  .section_title .doted_img {
    right: 30%;
    left: auto;
    bottom: -100%;
    position: absolute;
    z-index: -1; }
    @media (max-width: 767px) {
      .section_title .doted_img {
        width: 200px;
        bottom: 0;
        right: 30%; } }
    @media (max-width: 767px) {
      .section_title .doted_img img {
        width: 100%; } }
  .section_title.white_text::before, .section_title.white_text::after {
    display: none; }
  .section_title.white_text span {
    color: #fff !important; }

.mb-50 {
  margin-bottom: 50px; }
  @media (max-width: 767px) {
    .mb-50 {
      margin-bottom: 40px; } }

.mb-73 {
  margin-bottom: 73px; }
  @media (max-width: 767px) {
    .mb-73 {
      margin-bottom: 40px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .mb-73 {
      margin-bottom: 40px; } }

.pb-10 {
  padding-bottom: 10px; }

.pb-38 {
  padding-bottom: 38px; }

.pt-30 {
  padding-top: 30px; }

.pt-10 {
  padding-top: 10px; }

.pt-70 {
  padding-top: 30px; }

.mb-195 {
  margin-bottom: 195px; }
  @media (max-width: 767px) {
    .mb-195 {
      margin-bottom: 100px; } }

.mb-150 {
  margin-bottom: 150px; }
  @media (max-width: 767px) {
    .mb-150 {
      margin-bottom: 100px; } }

.mb-40 {
  margin-bottom: 39px; }

.mt-40 {
  margin-top: 40px; }

@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9; } }

.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px; }
  .slicknav_menu .slicknav_nav a:hover {
    background: transparent;
    color: #fff; }
  .slicknav_menu .slicknav_nav a.active {
    color: #fff; }
  @media (max-width: 767px) {
    .slicknav_menu .slicknav_nav a i {
      display: none; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .slicknav_menu .slicknav_nav a i {
      display: none; } }
  .slicknav_menu .slicknav_nav .slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -40px;
    position: relative;
    z-index: 99;
    border: 1px solid #ddd;
    top: 3px;
    right: 5px;
    top: -36px; }
    .slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
      margin-right: 6px;
      margin-top: 3px;
      position: relative;
      padding-bottom: 3px;
      top: -11px;
      right: -5px; }

@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 0px; } }

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px; }

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px; }

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -41px; }

.slicknav_menu .slicknav_nav {
  top: -1px; }

.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 99;
  position: absolute; }
  @media (max-width: 767px) {
    .header-area {
      padding-top: 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .header-area {
      padding-top: 0; } }
  @media (max-width: 767px) {
    .header-area .logo {
      width: 45px; } }
  @media (max-width: 767px) {
    .header-area .logo img {
      width: 100%; } }
  .header-area .main-header-area {
    background: #fff;
    background: transparent;
    padding: 50px 66px; }
    @media (max-width: 767px) {
      .header-area .main-header-area {
        padding: 10px 10px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .header-area .main-header-area {
        padding: 10px 10px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .header-area .main-header-area {
        padding: 20px 20px; } }
    @media (min-width: 1200px) and (max-width: 1700px) {
      .header-area .main-header-area {
        padding: 20px 20px; } }
    .header-area .main-header-area .quick_links {
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      font-family: "Cabin", sans-serif;
      color: #fff; }
      .header-area .main-header-area .quick_links ul li {
        display: inline-block;
        padding: 0 28px;
        position: relative;
        line-height: 1; }
        .header-area .main-header-area .quick_links ul li:last-child::before {
          position: absolute;
          left: 0;
          height: 15px;
          background: #b3b8bd;
          width: 2px;
          content: '';
          transform: translateY(-50%);
          left: -3px;
          top: 52%; }
        .header-area .main-header-area .quick_links ul li:first-child {
          padding-left: 114px; }
        .header-area .main-header-area .quick_links ul li a {
          font-size: 14px;
          font-weight: 400;
          font-family: "Kode Mono", monospace;
          color: #fff; }
          .header-area .main-header-area .quick_links ul li a:hover {
            color: #9ae8d9; }
    .header-area .main-header-area .menu_icon {
      text-align: right; }
      @media (max-width: 767px) {
        .header-area .main-header-area .menu_icon {
          position: absolute;
          top: -35px;
          right: 18px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .header-area .main-header-area .menu_icon {
          position: absolute;
          top: -38px;
          right: 18px; } }
      .header-area .main-header-area .menu_icon a {
        text-align: right;
        font-size: 16px; }
        .header-area .main-header-area .menu_icon a span {
          font-size: 16px;
          text-transform: uppercase;
          font-family: "Cabin", sans-serif;
          color: #fff;
          font-weight: 400;
          margin-right: 19px;
          position: relative;
          top: 2px; }
    .header-area .main-header-area.sticky {
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
      position: fixed;
      width: 100%;
      top: -70px;
      left: 0;
      right: 0;
      z-index: 990;
      transform: translateY(70px);
      transition: transform 500ms ease, background 500ms ease;
      -webkit-transition: transform 500ms ease, background 500ms ease;
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
      padding: 10px 60px;
      background: #000; }
      @media (max-width: 767px) {
        .header-area .main-header-area.sticky {
          padding: 10px 10px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .header-area .main-header-area.sticky {
          padding: 10px 10px; } }
      @media (min-width: 992px) and (max-width: 1200px) {
        .header-area .main-header-area.sticky {
          padding: 10px 20px; } }
      @media (min-width: 1200px) and (max-width: 1700px) {
        .header-area .main-header-area.sticky {
          padding: 10px 20px; } }
      .header-area .main-header-area.sticky .main-menu {
        padding: 0; }
      .header-area .main-header-area.sticky .header_bottom_border {
        border-bottom: none; }
      .header-area .main-header-area.sticky .header_bottom_border.white_border {
        border-bottom: none !important; }
      .header-area .main-header-area.sticky ul li a::before {
        position: absolute;
        content: "";
        background: #fff;
        width: 100%;
        height: 3px;
        bottom: -27px;
        left: 0;
        opacity: 0;
        transform: scaleX(0);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
  .header-area .header-top_area {
    padding: 12px 0;
    background: #001D38; }
    @media (max-width: 767px) {
      .header-area .header-top_area .social_media_links {
        text-align: center; } }
    .header-area .header-top_area .social_media_links a {
      font-size: 15px;
      color: #C7C7C7;
      margin-right: 12px; }
      .header-area .header-top_area .social_media_links a:hover {
        color: #fff; }
    .header-area .header-top_area .header_left p {
      color: #727272;
      font-weight: 400;
      font-size: 13px;
      margin-bottom: 0; }
    .header-area .header-top_area .short_contact_list {
      text-align: right; }
      @media (max-width: 767px) {
        .header-area .header-top_area .short_contact_list {
          text-align: center; } }
      .header-area .header-top_area .short_contact_list ul li {
        display: inline-block; }
        .header-area .header-top_area .short_contact_list ul li a {
          font-size: 13px;
          color: #919191;
          margin-right: 50px; }
          @media (max-width: 767px) {
            .header-area .header-top_area .short_contact_list ul li a {
              margin-left: 0;
              margin: 0 5px; } }
          .header-area .header-top_area .short_contact_list ul li a i {
            color: #fff;
            margin-right: 7px; }

.offcanvas_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 999;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  right: 50%;
  z-index: 9999; }
  .offcanvas_menu.active {
    opacity: 1;
    visibility: visible;
    right: 0; }
  .offcanvas_menu .offcanvas_header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px; }
  .offcanvas_menu .close_menu {
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; }
    .offcanvas_menu .close_menu i {
      font-size: 25px;
      color: #fff;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      transform: rotate(0deg); }
      .offcanvas_menu .close_menu i:hover {
        color: #4508fa;
        transform: rotate(180deg); }
  .offcanvas_menu .offcanvas_menu_inner {
    text-align: center;
    position: relative; }
    .offcanvas_menu .offcanvas_menu_inner nav ul li a {
      font-size: 70px;
      font-weight: 400;
      color: #fff;
      line-height: 1.3; }
      @media (max-width: 767px) {
        .offcanvas_menu .offcanvas_menu_inner nav ul li a {
          font-size: 32px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .offcanvas_menu .offcanvas_menu_inner nav ul li a {
          font-size: 32px; } }
      @media (min-width: 992px) and (max-width: 1200px) {
        .offcanvas_menu .offcanvas_menu_inner nav ul li a {
          font-size: 40px; } }
      @media (min-width: 1200px) and (max-width: 1700px) {
        .offcanvas_menu .offcanvas_menu_inner nav ul li a {
          font-size: 50px; } }
      .offcanvas_menu .offcanvas_menu_inner nav ul li a:hover {
        color: #9ae8d9; }
  .offcanvas_menu .Quick_links {
    margin-top: 40px; }
    .offcanvas_menu .Quick_links ul li {
      display: inline-block;
      margin: 0 15px; }
      .offcanvas_menu .Quick_links ul li a {
        color: #fff;
        font-size: 25px; }
        .offcanvas_menu .Quick_links ul li a:hover {
          color: #4508fa; }

.banner_area {
  position: relative;
  z-index: 0;
  background: #000;
  padding-top: 200px;
  padding-bottom: 170px; }
  @media (max-width: 767px) {
    .banner_area {
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .banner_area {
      padding: 100px 0; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .banner_area {
      padding-top: 167px;
      padding-bottom: 130px; } }
  .banner_area .banner_inner {
    background-position: center center; }
    .banner_area .banner_inner .banner_text h3 {
      font-family: "Pathway Extreme", sans-serif;
      font-size: 80px;
      font-weight: 400;
      line-height: 90px;
      color: #9d79ce; }
      .banner_area .banner_inner .banner_text h3 span {
        color: #9ae8d9; }
      @media (max-width: 767px) {
        .banner_area .banner_inner .banner_text h3 {
          font-size: 40px;
          line-height: 50px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .banner_area .banner_inner .banner_text h3 {
          font-size: 56px;
          line-height: 70px; } }
      @media (min-width: 992px) and (max-width: 1200px) {
        .banner_area .banner_inner .banner_text h3 {
          font-size: 60px;
          line-height: 75px; } }
    .banner_area .banner_inner .banner_text .branding_interaction {
      margin-top: 98px;
      margin-bottom: 75px; }
      @media (max-width: 767px) {
        .banner_area .banner_inner .banner_text .branding_interaction {
          margin-top: 38px;
          margin-bottom: 40px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .banner_area .banner_inner .banner_text .branding_interaction {
          margin-top: 40px;
          margin-bottom: 40px; } }
      .banner_area .banner_inner .banner_text .branding_interaction h4 {
        font-size: 24px;
        font-weight: 400;
        font-family: "Cabin", sans-serif;
        text-transform: uppercase;
        margin-bottom: 10px;
        letter-spacing: 2.7px; }
        @media (max-width: 767px) {
          .banner_area .banner_inner .banner_text .branding_interaction h4 {
            font-size: 20px; } }
      .banner_area .banner_inner .banner_text .branding_interaction p {
        font-size: 16px;
        color: #9fa7b6;
        font-weight: 300; }
        @media (min-width: 1200px) and (max-width: 1700px) {
          .banner_area .banner_inner .banner_text .branding_interaction p {
            max-width: 450px; } }
    .banner_area .banner_inner .banner_text .video_play a {
      display: inline-block;
      width: 60px;
      height: 60px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      font-size: 16px;
      line-height: 60px;
      text-align: center;
      color: #fff;
      border: 1px solid #fff; }
      .banner_area .banner_inner .banner_text .video_play a i {
        line-height: 60px;
        font-size: 16px;
        position: relative;
        top: -2px;
        left: 1px; }
      .banner_area .banner_inner .banner_text .video_play a:hover {
        background: #fff;
        color: #fff; }
    .banner_area .banner_inner .banner_text .video_play span {
      font-family: "Cabin", sans-serif;
      font-size: 14px;
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      padding-left: 18px; }
  .banner_area .person_thumb {
    position: absolute;
    right: 8.2%;
    bottom: 0; }
    @media (min-width: 992px) and (max-width: 1200px) {
      .banner_area .person_thumb {
        right: 2%;
        text-align: right; } }
    @media (min-width: 1200px) and (max-width: 1700px) {
      .banner_area .person_thumb {
        right: 2%;
        text-align: right; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .banner_area .person_thumb img {
        width: 70%; } }
    @media (min-width: 1200px) and (max-width: 1700px) {
      .banner_area .person_thumb img {
        width: 88%; } }
  .banner_area .mobile-person {
    display: none; }
    @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
      .banner_area .mobile-person {
        max-width: 100%;
        width: 100%;
        display: block;
        padding-bottom: 2em; } }
    @media (max-width: 767px) {
      .banner_area .mobile-person {
        max-width: 250px; } }
  .banner_area .quick_social_links {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 55px; }
    @media (max-width: 767px) {
      .banner_area .quick_social_links {
        left: auto;
        right: 30px;
        top: 33%;
        transform: none;
        top: auto;
        left: 15px;
        margin-top: 30px; } }
    .banner_area .quick_social_links ul li {
      display: block;
      margin: 25px 0; }
      @media (max-width: 767px) {
        .banner_area .quick_social_links ul li {
          display: inline-block;
          margin: 0 20px 0 0; } }
      .banner_area .quick_social_links ul li a {
        font-size: 16px;
        color: #79767e;
        font-weight: 300;
        display: block; }
        .banner_area .quick_social_links ul li a:hover {
          color: #9ae8d9; }

.service_area {
  padding-top: 210px;
  padding-bottom: 0; }
  @media (max-width: 767px) {
    .service_area {
      padding-top: 130px;
      padding-bottom: 10px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .service_area {
      padding-bottom: 80px; } }
  .service_area .single_service {
    position: relative;
    border: 1px solid #e6eff8;
    padding: 27px 30px 50px 50px; }
    @media (max-width: 767px) {
      .service_area .single_service {
        margin-bottom: 50px;
        padding: 25px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .service_area .single_service {
        margin-bottom: 80px; } }
    .service_area .single_service .service_icon {
      position: absolute;
      right: 40px;
      top: -48px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      @media (max-width: 767px) {
        .service_area .single_service .service_icon {
          right: 30px;
          top: 20px;
          width: 90px;
          height: 90px; } }
      @media (max-width: 767px) {
        .service_area .single_service .service_icon img {
          height: 65% !important; } }
    .service_area .single_service .number {
      color: #cccccc;
      font-size: 60px;
      font-family: "Cabin", sans-serif;
      font-weight: 400;
      margin-bottom: 55px; }
    .service_area .single_service .service_info h3 {
      font-weight: 600;
      font-size: 1.5em;
      line-height: 1.25; }
      @media (min-width: 992px) and (max-width: 1200px) {
        .service_area .single_service .service_info h3 {
          font-size: 20px;
          line-height: 30px; } }
      @media (max-width: 767px) {
        .service_area .single_service .service_info h3 {
          font-size: 22px;
          line-height: 32px; } }
    .service_area .single_service .service_info p {
      margin-top: 34px;
      margin-bottom: 50px; }
      @media (max-width: 767px) {
        .service_area .single_service .service_info p {
          margin: 30px 0; } }
    .service_area .single_service:hover .service_icon {
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px); }

.timeline_area {
  padding-bottom: 120px;
  padding-top: 36px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: 100% 100%;
  /* background-image: url(../img/shape/timeline_bg.png); */ }
  @media (max-width: 767px) {
    .timeline_area {
      background-position: center center; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .timeline_area {
      background-position: center center; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .timeline_area {
      background-position: center center; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .timeline_area {
      background-position: center center; } }
  @media (max-width: 767px) {
    .timeline_area {
      padding-top: 5px;
      padding-bottom: 30px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .timeline_area .timeline_title {
      margin-bottom: 30px; } }
  .timeline_area .timeline_title h3 {
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    font-family: "Kode Mono", monospace;
    letter-spacing: 1.5px; }
    @media (max-width: 767px) {
      .timeline_area .timeline_title h3 {
        margin-bottom: 30px;
        font-size: 31px;
        line-height: 43px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .timeline_area .timeline_title h3 {
        font-size: 30px;
        line-height: 42px; } }
  .timeline_area .single_time_line {
    margin-bottom: 85px; }
    @media (max-width: 767px) {
      .timeline_area .single_time_line {
        margin-bottom: 30px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .timeline_area .single_time_line {
        margin-bottom: 40px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline_area .single_time_line {
        margin-bottom: 50px;
        padding-right: 40px; } }
    .timeline_area .single_time_line h4 {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 17px; }
      @media (min-width: 992px) and (max-width: 1200px) {
        .timeline_area .single_time_line h4 {
          font-size: 18px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .timeline_area .single_time_line p {
        font-size: 14px; } }
    @media (max-width: 767px) {
      .timeline_area .single_time_line p br {
        display: none; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline_area .single_time_line p br {
        display: none; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .timeline_area .single_time_line p br {
        display: none; } }
    @media (max-width: 767px) {
      .timeline_area .single_time_line:last-child {
        margin-bottom: 30px; } }
  .timeline_area .single_time_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
    .timeline_area .single_time_wrap .single_time_line {
      -webkit-box-flex: 42%;
      -ms-flex: 42% 0 0px;
      flex: 42% 0 0; }
      @media (max-width: 767px) {
        .timeline_area .single_time_wrap .single_time_line {
          -webkit-box-flex: 100%;
          -ms-flex: 100% 0 0px;
          flex: 100%; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .timeline_area .single_time_wrap .single_time_line {
          -webkit-box-flex: 50%;
          -ms-flex: 50% 0 0px;
          flex: 50% 0 0; } }
      @media (min-width: 992px) and (max-width: 1200px) {
        .timeline_area .single_time_wrap .single_time_line {
          -webkit-box-flex: 45%;
          -ms-flex: 45% 0 0px;
          flex: 45%  0 0; } }
      .timeline_area .single_time_wrap .single_time_line:nth-last-child(-n+2) {
        margin-bottom: 0; }
        @media (max-width: 767px) {
          .timeline_area .single_time_wrap .single_time_line:nth-last-child(-n+2) {
            margin-bottom: 30px; } }

.gallery_area {
  padding-bottom: 0;
  padding-top: 80px; }
  @media (max-width: 767px) {
    .gallery_area {
      padding-top: 60px;
      padding-bottom: 50px; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .gallery_area {
      padding-left: 40px;
      padding-right: 40px; } }
  .gallery_area .single_gallery {
    overflow: hidden; }
    .gallery_area .single_gallery a {
      display: block; }
      .gallery_area .single_gallery a img {
        width: 100%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        .gallery_area .single_gallery a video {
          -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; 
        }  
      .gallery_area .single_gallery a:hover img, .gallery_area .single_gallery a:hover video {
        transform: scale(1.25); }
  .gallery_area .grid-item {
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .gallery_area .grid-item {
        margin-bottom: 30px; } }
  .gallery_area .container-fluid {
    max-width: 1500px; }
    @media (min-width: 1200px) and (max-width: 1700px) {
      .gallery_area .container-fluid {
        max-width: 1100px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .gallery_area .container-fluid {
        max-width: 700px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .gallery_area .container-fluid {
        max-width: 900px; } }
    @media only screen and (min-width: 1501px) and (max-width: 1600px) {
      .gallery_area .container-fluid {
        max-width: 1400px; } }
    .gallery_area .container-fluid .row.grid {
      margin-right: -20px;
      margin-left: -20px; }
      @media (max-width: 767px) {
        .gallery_area .container-fluid .row.grid {
          margin-right: -15px;
          margin-left: -15px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .gallery_area .container-fluid .row.grid {
          margin-right: -15px;
          margin-left: -15px; } }
      @media (min-width: 1200px) and (max-width: 1700px) {
        .gallery_area .container-fluid .row.grid {
          margin-right: -20px;
          margin-left: -20px; } }
      .gallery_area .container-fluid .row.grid .col-lg-4 {
        padding-right: 20px;
        padding-left: 20px; }
        @media (max-width: 767px) {
          .gallery_area .container-fluid .row.grid .col-lg-4 {
            padding-right: 15px;
            padding-left: 15px; } }

.hire_area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 145px 0 150px 0;
  background-image: url(../img/hire/hire-bg.png); }
  @media (max-width: 767px) {
    .hire_area {
      padding: 100px 0; } }
  .hire_area .hire_btn {
    margin-top: 87px; }
    @media (max-width: 767px) {
      .hire_area .hire_btn {
        margin-top: 30px; } }

.parallax-window {
  min-height: 400px;
  background: transparent; }

.testmonial_area {
  padding-top: 210px;
  padding-bottom: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-image: url(../img/shape/testimonial_shape.png); */ }
  @media (max-width: 767px) {
    .testmonial_area {
      padding-top: 130px;
      padding-bottom: 80px; } }
  .testmonial_area .owl-carousel .owl-item img {
    display: inline-block;
    width: auto; }
  .testmonial_area .single_testmonial {
    border: 1px solid #e8f3fe;
    background: #000;
    padding: 65px 50px 76px 50px;
    margin-bottom: 95px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    @media (max-width: 767px) {
      .testmonial_area .single_testmonial {
        margin-bottom: 0;
        padding: 45px 30px 46px 30px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .testmonial_area .single_testmonial {
        padding: 35px 30px 46px 30px; } }
    .testmonial_area .single_testmonial p {
      font-size: 20px;
      font-family: "Pathway Extreme", sans-serif;
      font-weight: 700;
      line-height: 35px;
      color: #fff;
      margin-top: 30px;
      margin-bottom: 76px;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .testmonial_area .single_testmonial .testimonial_author h4 {
      font-size: 22px;
      color: #fff;
      font-weight: 700;
      padding-left: 50px;
      position: relative;
      margin-bottom: 10px;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      @media (max-width: 767px) {
        .testmonial_area .single_testmonial .testimonial_author h4 {
          font-size: 18px; } }
      .testmonial_area .single_testmonial .testimonial_author h4::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        height: 2px;
        width: 30px;
        content: '';
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; } 
    .testmonial_area .single_testmonial .testimonial_author a:hover {    
      color: #9ae8d9
    }
    .testmonial_area .single_testmonial .testimonial_author span {
      display: block;
      padding-left: 50px;
      color: #707b8e;
      font-weight: 300;
      font-family: "Kode Mono", monospace;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      font-size: 14px; }
    .testmonial_area .single_testmonial:hover {
      background: transparent;
      border: 1px solid #fff; }
      .testmonial_area .single_testmonial:hover h4, .testmonial_area .single_testmonial:hover span, .testmonial_area .single_testmonial:hover p {
        color: #9ae8d9 !important; }
      .testmonial_area .single_testmonial:hover h4:before {
        background: #fff; }
  .testmonial_area .center .single_testmonial {
    background: transparent;
    border: 1px solid #fff; }
    .testmonial_area .center .single_testmonial p, .testmonial_area .center .single_testmonial h4, .testmonial_area .center .single_testmonial span {
      color: #fff; }
    .testmonial_area .center .single_testmonial h4:before {
      background: #fff; }
  .testmonial_area .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .testmonial_area .owl-dots .owl-dot {
      width: 15px;
      height: 15px;
      background: #e9e9ff;
      display: inline-block;
      border-radius: 50%;
      margin: 0 4.5px; }
      .testmonial_area .owl-dots .owl-dot.active {
        background: #9ae8d9; }

.brand_area .brand_active:last-child {
  border-right: 0; }

.brand_area .single_brand {
  text-align: center;
  height: 300px;
  border-right: 1px solid #e8f3fe; }
  @media (max-width: 767px) {
    .brand_area .single_brand {
      height: 200px;
      border: 0; } }
  .brand_area .single_brand img {
    width: auto;
    display: inline-block; }

.contact_form_area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 150px 0;
  background-image: url(../img/contact/contact_bg.png); }
  @media (max-width: 767px) {
    .contact_form_area {
      padding: 0;
      /* 100px 0; */ } }
  .contact_form_area .blue_bg {
    background: #99ecdc; }
  .contact_form_area .contact_text {
    background: #99ecdc; }
    @media (max-width: 767px) {
      .contact_form_area .contact_text {
        padding: 30px 0; } }
    .contact_form_area .contact_text h3 {
      font-size: 40px;
      font-weight: 400;
      line-height: 55px;
      color: #fff; }
      @media (max-width: 767px) {
        .contact_form_area .contact_text h3 {
          font-size: 25px;
          line-height: 35px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .contact_form_area .contact_text h3 {
          font-size: 25px;
          line-height: 35px; } }
  .contact_form_area .contact_form {
    background: #fff;
    padding: 100px 120px 100px 57px; }
    @media (max-width: 767px) {
      .contact_form_area .contact_form {
        padding: 50px 30px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .contact_form_area .contact_form {
        padding: 80px 50px; } }
    .contact_form_area .contact_form .contact_field input, .contact_form_area .contact_form .contact_field textarea {
      width: 100%;
      border: 0;
      border-bottom: 1px solid #e8f3fe;
      font-size: 16px;
      font-weight: 300;
      font-family: "Cabin", sans-serif;
      resize: none;
      padding-bottom: 19px;
      color: #222; }
      .contact_form_area .contact_form .contact_field input::placeholder, .contact_form_area .contact_form .contact_field textarea::placeholder {
        color: #707b8e;
        font-weight: 300;
        font-size: 16px;
        font-family: "Cabin", sans-serif; }
      .contact_form_area .contact_form .contact_field input:focus, .contact_form_area .contact_form .contact_field textarea:focus {
        outline: none; }
    .contact_form_area .contact_form .contact_field textarea {
      height: 50px; }
    .contact_form_area .contact_form .contact_field:last-child {
      margin-bottom: 0; }
    .contact_form_area .contact_form .contact_btn button {
      width: 100%;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }

.footer {
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background: #000;
  position: relative;
  z-index: 9;
  padding-bottom: 100px;
  /* background-image: url(../img/shape/footer.png);*/ }
  @media (max-width: 767px) {
    .footer {
      padding-bottom: 50px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .footer {
      padding-bottom: 50px; } }
  .footer .footer_top {
    padding-top: 50px;
    padding-bottom: 20px; }
    @media (max-width: 767px) {
      .footer .footer_top {
        padding-top: 40px;
        padding-bottom: 15px; } }
  .footer .copy-right_text .copy_right {
    font-size: 16px;
    color: #707b8e;
    margin-bottom: 0;
    font-weight: 300; }
    @media (max-width: 767px) {
      .footer .copy-right_text .copy_right {
        font-size: 14px; } }
    .footer .copy-right_text .copy_right a {
      color: #fff; }
  .footer .social_links {
    margin-bottom: 30px; }
    .footer .social_links ul li {
      display: inline-block; }
      .footer .social_links ul li a {
        font-size: 15px;
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        /* background: #fafafa; */
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 0 3px;
        color: #fff;
        line-height: 40px !important;
        color: #fff; }
        .footer .social_links ul li a i {
          line-height: 40px !important; }
        .footer .social_links ul li a:hover {
          /* background: #fff !important; */
          color: #9ae8d9; }
  .footer .newsletter_form {
    position: relative;
    margin-top: 90px; }
    @media (max-width: 767px) {
      .footer .newsletter_form {
        margin-top: 30px; } }
    .footer .newsletter_form input {
      width: 100%;
      height: 60px;
      padding-left: 25px;
      font-size: 14px;
      color: #000;
      border: none;
      border: 1px solid #e8f3fe;
      border-radius: 0px;
      font-family: "Cabin", sans-serif; }
      .footer .newsletter_form input::placeholder {
        font-size: 14px;
        font-family: "Cabin", sans-serif;
        color: #aeb4ba;
        font-weight: 400; }
      .footer .newsletter_form input:focus {
        outline: none; }
    .footer .newsletter_form button {
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .footer .newsletter_form button.boxed-btn {
        padding: 0;
        height: 60px;
        width: 100%;
        margin-left: 10px;
        font-weight: 400; }
        @media (max-width: 767px) {
          .footer .newsletter_form button.boxed-btn {
            margin-left: 0 !important;
            margin-top: 20px; } }
  .footer .footer_menu_border {
    margin-top: 80px;
    border-top: 1px solid #e8f3fe;
    border-bottom: 1px solid #e8f3fe;
    padding: 16px 0 16px 0; }
  .footer .footer_menu ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around; }
    @media (max-width: 767px) {
      .footer .footer_menu ul {
        display: block !important;
        text-align: center; } }
    .footer .footer_menu ul li {
      display: inline-block; }
      @media (max-width: 767px) {
        .footer .footer_menu ul li {
          margin: 0 10px; } }
      .footer .footer_menu ul li a {
        display: inline-block;
        font-size: 14px;
        font-family: "Cabin", sans-serif;
        font-weight: 700;
        color: #fff; }
        .footer .footer_menu ul li a:hover {
          color: #9ae8d9; }
