.footer{
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background: #fcf8fa;
    position: relative;
    z-index: 9;
    padding-bottom: 223px;
    background-image: url(../img/shape/footer.png);
    @media #{$mobile_device}{
        padding-bottom: 80px;
    }
    @media #{$tablet_device}{
        padding-bottom: 150px;
    }
    .footer_top{
        padding-top: 150px;
        padding-bottom: 80px;
        @media #{$mobile_device} {
            padding-top: 80px;
            padding-bottom: 30px;
        }
    }
    .copy-right_text{
        .copy_right{
            font-size: 16px;
            color: #707b8e;
            margin-bottom: 0;
            font-weight: 300;
            @media #{$mobile_device} {
                font-size: 14px;
            }
            a{
                color: $btn-bg;
            }
        }
    }
    .social_links{
       margin-bottom: 30px;
        ul{
            li{
                display: inline-block;

                a{
                    font-size: 15px;
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    text-align: center;
                    background: #fafafa;
                    @include border-radius(50%);
                    // margin-right: 6px;
                    margin: 0 3px;
                    color: #000021;
                    line-height: 40px !important;
                    color: #000021;
                    i{
                        line-height: 40px !important;
                    }
                 &:hover{
                     background: $btn-bg !important;
                     color: #fff;
                 }
                }
            }
        }
    }
    .newsletter_form{
        position: relative;
        margin-top: 90px;
        @media #{$mobile_device} {
            margin-top: 30px;
        }
        input{
            width: 100%;
            height: 60px;
            padding-left: 25px;
            font-size: 14px;
            color: #000;
            border: none;
            border: 1px solid #e8f3fe;
            border-radius: 0px;
            font-family: $font2;
            &::placeholder{
                font-size: 14px;
                font-family: $font2;
                color: #aeb4ba;
                font-weight: 400;
            }
            &:focus{
                outline: none;
            }
        }
        button{
            @include transition(.3s);
            // position: relative;
            // top: 0;
            // height: 60px;
            // border: none;
            // font-size: 16px;
            // color: #fff;
            // background: $btn-bg;
            // cursor: pointer;
            // border-radius: 0px;
            // font-weight: 400;
            // font-family: $font2;
            &.boxed-btn{
                padding: 0;
                height: 60px;
                width: 100%;
                margin-left: 10px;
                font-weight: 400;
                @media #{$mobile_device} {
                    margin-left: 0 !important;
                    margin-top: 20px;
                }
            }
        }
    }
    .footer_menu_border{
        margin-top: 80px;
        border-top:1px solid #e8f3fe ;
        border-bottom :1px solid #e8f3fe ;
        padding: 16px 0 16px 0;
    }
    .footer_menu{
        ul{
            @include flexbox();
            @include justify-content(space-around);
            @media #{$mobile_device} {
                display: block !important;
                text-align: center;
            }
            li{
                display: inline-block;
                @media #{$mobile_device}{
                    margin: 0 10px;
                }
                a{
                    display: inline-block;
                    font-size: 14px;
                    font-family: $font2;
                    font-weight: 700;
                    color: #000021;
                    &:hover{
                        color: #AC5B5B;
                    }
                }
            }
        }
    }
}
