@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap|https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap|https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

// fonts
$font1: 'Pathway Extreme', sans-serif;
$font2: 'Cabin', sans-serif;
// fonts-size





$theme-color: #000021;
$theme-color2: #ff5e13;

$gray-color3:#5c5c5c;
$white_color:#fff;


// font_color 

$color_1: #000021;
$color_2: #707b8e;
$color_3: #AC5B5B;
$color_4: #AC5B5B;


// ,,,,,,,,,,,
$btn_bg: #000021;
$btn_hover: #AC5B5B;
$section_bg: #f7f7f7;
$section_bg_1: #454545;
$heading_color: #191d34;
$heading_color2: #AC5B5B;


/* xl Normal desktop :1200px. */
$xl:'(min-width: 1500px) and (max-width: 1700px)';

/* Normal desktop :1200px. */
$large_device:'(min-width: 1200px) and (max-width: 1700px)';

/* Normal desktop :992px. */
$mid_device:'(min-width: 992px) and (max-width: 1200px)';

/* Tablet desktop :768px. */
$tablet_device:'(min-width: 768px) and (max-width: 991px)';

/* small mobile :320px. */
$mobile_device:'(max-width: 767px)';

/* Large Mobile :480px. */
$large_mobile:'only screen and (min-width: 480px) and (max-width: 767px)';

/* Large Mobile :480px. */
$ex_large:'only screen and (min-width: 1501px) and (max-width: 1600px)';

